<table cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<p>Software needs to be approved, for usage on various Onlinecontest systems.<br />
			This makes sure, that Enduser Software is compatible to Online Scoring systems around the planet and makes sure that flight tracks cannot be manipulated afterwards. The CIVL Approval means here, an IGC file is within the specification. There are no rights, to get approval for every software.<br />
			<br />
			Any kind of listed Software or Hardware here is &quot;<strong>Subject to the approval of the National contest</strong>&quot;.<br />
			Also, in terms of centralized Cat-1 or Cat-2 events, any kind of listed Software here is &quot;subject to local event rules&quot;. There exist no rights to complain against National XC Contests or Local Event Rules, based on this Software list.<br />
			Further it is important to understand that software G-record generation is not 100% secure. Practically, the software generated G-records can dissuade casual tampering but cannot prevent a technically competent attacker.<br />
			</p>


			<p><br />
			<u><em>Some Frequently asked Questions from Developers and Pilots</em></u><br />
			</p>
			
			<p><strong>Developer: How to get an official FAI IGC Approval ?</strong><br />
			The official FAI/IGC process is different, please check the follwing 2 FAI/IGC pages to get more information:<br />
			<a href="http://www.fai.org/gnss-recording-devices/igc-approved-flight-recorders" target="_blank">http://www.fai.org/gnss-recording-devices/igc-approved-flight-recorders</a><br />
			<a href="http://www.fai.org/igc-our-sport/gnss-recording-devices" target="_blank">http://www.fai.org/igc-our-sport/gnss-recording-devices</a></p>
			
			<p><strong>Developer: How to get my Software to this list ?</strong><br />
			There are 2 different ways.<br />
			A) in case you have the plan to build your own hardware vario/logger, an so called <em>GNSS flight recorder</em>, just please proceed with an official <a href="http://www.fai.org/gnss-recording-devices/igc-approved-flight-recorders">FAI/IGC approval</a> for your logger. When this process is done, just sent us your Win32 (PE32) command line executable, together with an sample IGC file for implementation here.<br />
			<br />
			B) in case you are not a Hardware manufacture to build a new GNSS flight recorder, but you have developed a nice software for Windows/McOS/Linux/Androis and so on, to simply download data from an existing Garmin or other loggers, you need to apply here for an 3-letter code first, then simple sent your software, sample IGC files and again the vali.exe.<br />
			Choose an 3-letter code, starting with an X... and which is not in the list above.&nbsp; This unique 3letter code of your choice is assigned to each software (used within the A-Record and L-Record).<br />
			In some situations the hardware is required as well.<br />
			But before everybody like to have &quot;his own&quot; software be reinventing the wheel, please consider to let implement your logger into GpsDump and MaxPunkte.</p>

			<p><strong>Developer: Can I advertise my software using the FAI branding/logo ?</strong><br />
			From FAI/CIVL point of view, no. You should not use any kind of FAI branding (logo) inside of your software application.<br />
			If you want to read the official branding web styleguide check out this link: <a href="http://www.fai.org/about-fai/fai-branding">http://www.fai.org/about-fai/fai-branding</a><br />
			In case FAI/CIVL decide to host and maintain their own software (for example like fs.fai.org), only such software might have this branding.</p>

			<p><strong>Developer: Can I develop another validation program, not an commandline win32 excutable ?</strong><br />
			Lets say, I have something already in Java or using Visual Basic, Delphi Runtime and others.<br />
			The answer is, unfortunately not possible.<br />
			On CIVL we can only accept a PE32 commandline executable program for validation, which should not depend on any type dynamic DLL to load, and should not depend on any type of runtime (even when bundled). Also the vali binary should never display any Windows popup message to click.</p>

			<p><strong>Developer: Do I have legal rights to force FAI or CIVL to put my business or my logger advertised here on this list ?</strong><br />
			Unfortunately no. There are no rights, to get approval for every software, or to list your products here.<br />
			The page here is also community driven, volunteer work only. In case we don&#39;t need it, then we may don&#39;t work for it.</p>			

			<p><strong>Developer: Some comments on Open source</strong>.<br />
			If you consider to generate open source project, think about the type of open source license before publishing.<br />
			GPL might not be the best choice as it disallow your code to be included within other nice projects when they are not licensed the same way.<br />
			There are many other valid open source licenses (for example CDDL) which allow mixed licensing, even closed source parts.<br />
			National contests might easy able disallow your Opensource software. In result pilots flight might not scored at WXC as well.</p>
			<p>You may ask yourself, what happen if my key to encrypt is public available as Open Source ?<br />
			The answer on this is easy. You as a developer, made a wrong decision.
			GPL or CDDL doesn't mean, you have to publish your own used keys or passwords.
			You will simply still GPL the code, but simply obfuscate the key itself on the public repository.
			You may just write a README, how to use and compile the code, which will include
			the step to create a new private key.</p>
			
			<p><strong>Developer: What about when I need to change the internal security key and algorithm ?</strong>.<br />
			This depends on your own Software &#39;live time&#39; cycle. As long as you will support the old software with old encryption 
			you will develop a vali exe which can validate both keys, old and new.<br />
			As soon as your old Software is End-Of-Live, you will compile a vali exe which will further only validate latest igc files.</p>
			

			<hr>
			
			<p><strong><a id="HGFZTR" name="HGFZTR"></a>Hardware Manufacturer: How to make sure that my Hardware Logger or Software is approved by any FAI Cat-1 or FAI-Cat2 competition, and used by any other Online Contest ?</strong><br />
			This service here and the list above will not influence local competition rules of any type of National Contest. Even not for Continental or World Championships. It is always on behalf of an local organizer to allow or disallow certain Software and Hardware used by given local rules. The list above gives no guarantee for any development (Hard- or Software) that this will be used by all other Contests, or will be allowed for National Badge and Record flights.</p>
			
			<p><strong>Hardware Manufacturer: How can I make sure that my logger might be possibly accepted by most National Contests ?</strong><br />
			This is easy. Just make sure your Logger can be read by GpsDump, using an existing implemented protocol, or ask the Developer from GpsDump to implement your logger.<br />
			GpsDump and FsDump is used by FS, an Competition Scoring Software (<a href="http://fs.fai.org">fs.fai.org</a>). This Scoring Software is used by most competitions. If your logger can be dumped by GpsDump, your logger is automatically usable for any type of competition, even online contests.<br />
			In case you do not have the plan for an FAI/IGC GNSS Logger approval, let implement your Logger into GpsDump and MaxPunkte Software is the best way to have your logger compatible for most situations, not just here.</p>

			<p><strong>Hardware Manufacturer: Do you approve Hardware GNSS Loggers for Paragliding, similar like IGC will do it for FAI/IGC ?</strong><br />
			No, we do not test and approve hardware GPS loggers. We check only the &quot;vali.exe&quot; software and the software who will &quot;dump&quot; an existing GPS logger for HG/PG compliance.<br />
			Any hardware logger approval request should go to <a href="http://www.fai.org/gnss-recording-devices/igc-approved-flight-recorders">FAI/IGC</a>, the International Gliding Commission of FAI.</p>
			
			<hr>
			
			<p><strong>Pilot: Why some Software is not at this list or is disabled ?</strong><br />
			Maybe due to missing contact to the developer, or if seen that a Software is not longer used by the pilots over years or other circumstances, or it is out of scope from the developer point of view to be on this list ...</p>
			
			<a id="LK8000" name="LK8000"></a>
			<p><strong>Pilot: Why is my LK8000 igc track invalid?</strong><br />
			LK8000 development decided, to change the Signature. 
			So we have today two vali-xlk.exe programs (same name) inspecting/validating two different GRecord signatures, based on same 3-Letter code XLK. 
			One GRecord will be created by OpenSource, the other by an extra plugin, which needs to be installed on top of LK8000. 
			This plugin installation requirement is also published <a href="http://www.lk8000.it/download/software.html" target="_blank">here</a>.<br />
			Since only exactly one vali-xlk.exe can coexist on the server side systems, and not two or more for same software, we decided to activate
			here the plugin based version (latest, newest version).<br />
			Please note the statement on LK8000 <a href="http://www.lk8000.it/download/software.html" target="_blank">web</a> is wrong, saying that DHV and among many others do not require the plugin.<br />
			There are many contests like DHVXC who connect to <b>vali.fai-civl.org</b> for <i>remote validation</i>.<br />
			In result of that, any OpenSource LK8000 based IGC file might be invalid on your home contest, and on WXC as well.<br />
			It is up to LK8000 development to provide a new vali-xlk.exe which is able to validate both signatures, similar some other software will do. 
			Or make the plugin mandatory for IGC file signatures, by simply complete removing the OpenSource key from installation package, which will then not longer confuse the pilots on 2 different signature variants for same 3-Letter code.
			</p>

			<p><strong>Pilot: What happen, if my IGC file is invalid due to another Software or an old encryption used ?</strong><br />
			Any kind of not listed Software or Hardware here, which may mark IGC files on a National Server as valid, but is not known to us or not possible to implement, will cause invalid IGC flights on WXC level (and possible other connected contests).<br />
			Such these flights will not tweaked manually on any contest to undermine the automatic validation process.</p>

			<p><strong>Pilot: What happen if my IGC file is invalid but I&#39;m sure using the correct software ?</strong><br />
			Please contact the developer of the Software (or Hardware Logger) to check your IGC Track to help you.</p>

			<p><strong>Pilot: I have found a nice logger or a nice software. Can I request to implement it please ?</strong><br />
			Unfortunately not. Any Software request must be submitted by the developer, not by the enduser (pilot).<br />
			Also Hardware GNSS Logger approvals are going to IGC and not to the CIVL.</p>

			<p><strong>Pilot: How to delete a flight on WXC ?</strong><br />
			You have to delete a flight on your &quot;Home Online Contest&quot;.<br />
			- If you are a German pilot, then you will delete the flight on&nbsp; http://www.dhvxc.de<br />
			- If you are a French pilot, you will delete the flight on http://cnd.favl.info/<br />
			- If you are a pilot from Poland, you will delete a flight on http://www.xcportal.pl/<br />
			... and so on.<br />
			If you need help on deleting a flight, you need to ask your National Administrator,<br />
			for your &quot;Home Online Contest&quot;.<br />
			The next nightly sync, will automatically notify the WXC (wxc.fai.org) to delete the flight.<br />
			In most cases, a flight can only be deleted by a pilot within allowed claim time, according to National Contest rules. In these cases only the National Administrator of your &quot;Home Contest&quot; can delete a flight.<br />
			In general a flight can only be deleted (or added, or modified) within same season.<br />
			After season has ended, and final results are published, there will be usual no more modifications made on the results.</p>

			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>2013-08-04 07:51</td>
		</tr>
	</tbody>
</table>
