<table cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<p>Software needs to be approved, for usage on various Onlinecontest systems.<br />
			This makes sure, that Enduser Software is compatible to Online Scoring systems around the planet and makes sure that flight tracks cannot be manipulated afterwards. The CIVL Approval means here, an IGC file is within the specification. There are no rights, to get approval for every software.<br />
			<br />
			Any kind of listed Software or Hardware here is &quot;<strong>Subject to the approval of the National contest</strong>&quot;.<br />
			Also, in terms of centralized Cat-1 or Cat-2 events, any kind of listed Software here is &quot;subject to local event rules&quot;. There exist no rights to complain against National XC Contests or Local Event Rules, based on this Software list.<br />
			Further it is important to understand that software G-record generation is not 100% secure. Practically, the software generated G-records can dissuade casual tampering but cannot prevent a technically competent attacker.<br />
			</p>


			<p><br />
			<u><em>Some Frequently asked Questions from Developers and Pilots</em></u><br />
			</p>
			
			<p><strong>Developer: How to get an official FAI IGC Approval ?</strong><br />
			The official FAI/IGC process is different, please check the follwing 2 FAI/IGC pages to get more information:<br />
			<a href="http://www.fai.org/gnss-recording-devices/igc-approved-flight-recorders" target="_blank">http://www.fai.org/gnss-recording-devices/igc-approved-flight-recorders</a><br />
			<a href="http://www.fai.org/igc-our-sport/gnss-recording-devices" target="_blank">http://www.fai.org/igc-our-sport/gnss-recording-devices</a></p>
			
			<p><strong>Developer: How to get my Software to this list ?</strong><br />
			There are 2 different ways.<br />
			A) in case you have the plan to build your own hardware vario/logger, an so called <em>GNSS flight recorder</em>, just please proceed with an official <a href="http://www.fai.org/gnss-recording-devices/igc-approved-flight-recorders">FAI/IGC approval</a> for your logger. When this process is done, just sent us your Win32 (PE32) command line executable, together with an sample IGC file for implementation here.<br />
			<br />
			B) in case you are not a Hardware manufacture to build a new GNSS flight recorder, but you have developed a nice software for Windows/McOS/Linux/Androis and so on, to simply download data from an existing Garmin or other loggers, you need to apply here for an 3-letter code first, then simple sent your software, sample IGC files and again the vali.exe.<br />
			Choose an 3-letter code, starting with an X... and which is not in the list above.&nbsp; This unique 3letter code of your choice is assigned to each software (used within the A-Record and L-Record).<br />
			In some situations the hardware is required as well.<br />
			But before everybody like to have &quot;his own&quot; software be reinventing the wheel, please consider to let implement your logger into GpsDump and MaxPunkte.</p>

			<p><strong>Developer: Can I advertise my software using the FAI branding/logo ?</strong><br />
			From FAI/CIVL point of view, no. You should not use any kind of FAI branding (logo) inside of your software application.<br />
			If you want to read the official branding web styleguide check out this link: <a href="http://www.fai.org/about-fai/fai-branding">http://www.fai.org/about-fai/fai-branding</a><br />
			In case FAI/CIVL decide to host and maintain their own software (for example like fs.fai.org), only such software might have this branding.</p>

			<a name="DLL"></a>
			<p><strong>Developer: Can I develop another validation program, not an commandline win32 excutable ?</strong><br />
			Lets say, I have something already in Java or using Visual Basic, Delphi Runtime and others.<br />
			The answer is, unfortunately not possible.<br />
			On CIVL we can only accept a PE32 commandline executable program for validation, which should not depend on any type of a dynamic library (DLL) to load, and should not depend on any type of external runtime. Also the vali binary should never display any Windows popup message to click. 
			If your vali exe binary depends for example on a Visual C++ runtime library, or on openssl libraries, you need to static link them (compiler settings).</p>
			
			<p><strong>Developer: Do I have legal rights to force FAI or CIVL to put my business or my logger advertised here on this list ?</strong><br />
			Unfortunately no. There are no rights, to get approval for every software, or to list your products here.<br />
			The page here is also community driven, volunteer work only. In case we don&#39;t need it, then we may don&#39;t work for it.</p>			

			<p><strong>Developer: Some comments on Open source</strong>.<br />
			If you consider to generate open source project, think about the type of open source license before publishing.<br />
			GPL might not be the best choice as it disallow your code to be included within other nice projects when they are not licensed the same way.<br />
			There are many other valid open source licenses (for example CDDL) which allow mixed licensing, even closed source parts.<br />
			National contests might easy able disallow your Opensource software. In result pilots flight might not scored at WXC as well.</p>
			<p>You may ask yourself, what happen if my key to encrypt is public available as Open Source ?<br />
			The answer on this is easy. You as a developer, made a wrong decision.
			GPL or CDDL doesn't mean, you have to publish your own used keys or passwords.
			You will simply still GPL the code, but simply obfuscate the key itself on the public repository.
			You may just write a README, how to use and compile the code, which will include
			the step to create a new private key.</p>
			
			<p><strong>Developer: What about when I need to change the internal security key and algorithm ?</strong>.<br />
			This depends on your own Software &#39;live time&#39; cycle. As long as you will support the old software with old encryption 
			you will develop a vali exe which can validate both keys, old and new.<br />
			As soon as your old Software is End-Of-Live, you will compile a vali exe which will further only validate latest igc files.</p>
			
			<p><strong>Developer: Which Records of a IGC file needs to be part of the G-Record signature, for my Software (not an GNSS FR)?</strong>.<br />
			You will include all Records, eg. A,H,C,B ... into the G-Record signature, but just <i>not</i> any L-Record.<br>
			This is different to the original IGC spec for Flight Recorders.</p>
			
			<p><strong>Developer: What about barometric altitude vs. GPS altitude recording at the IGC file, with my Software (eg. Android / iPhone).<br>Do I need to take care of any special needs ?</strong>.<br />
			Please be aware that only flight recording devices capable of recording both GPS and barometric altitude in the track log are allowed for scoring at a FAI cat1 event. 
			It must not be possible to modify the barometric altitude once track log recording has started.<br>
			If you want to have your software compatible to this as well, please make sure you meet this requirement.</p>
			
			<p><strong>Developer: Which platform is preferred used for testing?</strong>.<br>
			Since some online contest providers have their own validation implementation, we test everything based on Linux/Wine. Make sure
			you use at minimum Wine 1.7.55 or later at your Linux box, as of newer crypto library requirements for some vali binaries.</p>

			<a name="HFDTE"></a>
			<p><strong>Developer: What about latest 2015/09 changes on FAI-IGC FlightRecorder spec for the DTE record ? Which one to use now ?</strong><br>
			new spec is:<br>
			<strong>HFDTEDATE: DD MM YY , NN CRLF</strong> <br>
			instead of former old IGC spec:<br>
			<strong>HFDTE DD MM YY CRLF</strong> <br>
			The answer is, on CIVL we keep current with old <strong>HFDTE DD MM YY CRLF</strong> <i>just for now</i>, for a period of time.<br>
			The reason is, there are so many active implementations world wide now (Software like FS.FAI.ORG and Onlinecontest servers, even Firmware on some HG/PG loggers)
			that such significant change (DTE replacement) will cause too many problems for developers, manufacturers, pilots and Cat1/Cat2 competition organizers, when we would <i>strict</i> implement it as a requirement today.<br>
			If you want to develop a software, which is also compliant for the new <a href="http://www.fai.org/downloads/igc/FRTS_4" target="_blank">IGC spec</a>, we recommend to add a new non-default option within "settings" of your software, so the pilot can save a IGC file in both variants.<br>
			Such fundamental change without backward comaptibility will take a while to implement everywhere, world wide, at any logger, any software. There is no rush to break a running system today.<br>
			Please note, the WXC.FAI.ORG system can handle already both IGC DTE record variants, but it doesn't mean that any national contest is ready for it.<br>
			
			<a name="LIVETRACK"></a>
			<p><strong>Developer: I'm planing to develop a livetrack server, which signs any position data received within my internet server. Is it possible to approve such G-Record?</strong>.<br />
			Current we have no further plans to approve so called <i>server side</i> signing software, as this is much too easy to sent any kind of data to such an (open) web service, to get this data <i>signed</i>. <br>
			For an Hardware device (flight recorder) manufacturer, with a special closed protocol and unique client signed connection, this might be still possible to implement.</p>
			
			<a name="FUTURE"></a>
			<p><strong>Developer: What is the general future for signing recored position data?</strong>.<br>
			It's hard to say, what the future bring to us. But definitive we can say that signing position data for badge flights, records and NAC driven FAI competitions outside from a hardware device (flight recorder) might be not a good idea for ever, and can be tweaked too easy.
			During a centralized FAI cat1 or cat2 competition there exist a official observer, a person who can make sure to collect the loggers soon after landing. So tamper data is not so easy, and we can trust the observers.<br>
			Uncontrolled systems, such as any Pilot Home PC, Smartphone and Livetrack boxes are difficult to trust them on the same level like a signed track with a hardware device. 
			So we are happy with any Hardware manufacturer how create a new logger device, and sign the position data direct at the device. 
			For now, regardless if the planned approval level is an official IGC flight recorder or not.
			</p>
			<hr>
			
			<p><strong><a id="HGFZTR" name="HGFZTR"></a>Hardware Manufacturer: How to make sure that my Hardware Logger or Software is approved by any FAI Cat-1 or FAI-Cat2 competition, and used by any other Online Contest ?</strong><br />
			This service here and the list above will not influence local competition rules of any type of National Contest. Even not for Continental or World Championships. It is always on behalf of an local organizer to allow or disallow certain Software and Hardware used by given local rules. The list above gives no guarantee for any development (Hard- or Software) that this will be used by all other Contests, or will be allowed for National Badge and Record flights.</p>
			
			<p><strong>Hardware Manufacturer: How can I make sure that my logger might be possibly accepted by most National Contests ?</strong><br />
			This is easy. Just make sure your Logger can be read by GpsDump, using an existing implemented protocol, or ask the Developer from GpsDump to implement your logger.<br />
			GpsDump and FsDump is used by FS, an Competition Scoring Software (<a href="http://fs.fai.org">fs.fai.org</a>). This Scoring Software is used by most competitions. If your logger can be dumped by GpsDump, your logger is automatically usable for any type of competition, even online contests.<br />
			In case you do not have the plan for an FAI/IGC GNSS Logger approval, let implement your Logger into GpsDump and MaxPunkte Software is the best way to have your logger compatible for most situations, not just here.</p>

			<p><strong>Hardware Manufacturer: Do you approve Hardware GNSS Loggers for Paragliding, similar like IGC will do it for FAI/IGC ?</strong><br />
			No, we do not test and approve hardware GPS loggers. We check only the &quot;vali.exe&quot; software and the software who will &quot;dump&quot; an existing GPS logger for HG/PG compliance.<br />
			Any hardware logger approval request should go to <a href="http://www.fai.org/gnss-recording-devices/igc-approved-flight-recorders">FAI/IGC</a>, the International Gliding Commission of FAI.</p>
			
			<hr>
			
			<p><strong>Pilot: Why some Software is not at this list or is disabled ?</strong><br />
			Maybe due to missing contact to the developer, or if seen that a Software is not longer used by the pilots over years or other circumstances, or it is out of scope from the developer point of view to be on this list ...</p>
			
			<a id="LK8000" name="LK8000"></a>
			<p><strong>Pilot: What about LK8000 igc tracks and the LK8000 IGC Plugin ?</strong><br />
			LK8000 development changed the Signature to a special IGC Plugin version some years before.
			Since technically only exactly one vali-xlk.exe file name can exist at the file system, for many years only the IGC plugin version could be validated.
			Now the LK8000 team contact us and declared the IGC plugin version as deprecated (24-FEB-2016).
			This actual provided vali-xlk.exe can now validate all signatures, created by LK8000 software (old and new).
			For more details and questions see <a href="http://www.lk8000.it/download/software.html" target="_blank">LK8000 webpage</a>, or contact the LK8000 team.<br />
			</p>

			<p><strong>Pilot: What happen, if my IGC file is invalid due to another Software or an old encryption used ?</strong><br />
			Any kind of not listed Software or Hardware here, which may mark IGC files on a National Server as valid, but is not known to us or not possible to implement, will cause invalid IGC flights on WXC level (and possible other connected contests).<br />
			Such these flights will not tweaked manually on any contest to undermine the automatic validation process.</p>

			<p><strong>Pilot: What happen if my IGC file is invalid but I&#39;m sure using the correct software ?</strong><br />
			Please contact the developer of the Software (or Hardware Logger) to check your IGC Track to help you.</p>

			<p><strong>Pilot: I have found a nice logger or a nice software. Can I request to implement it please ?</strong><br />
			Unfortunately not. Any Software request must be submitted by the developer, not by the enduser (pilot).<br />
			Also Hardware GNSS Logger approvals are going to IGC and not to the CIVL.</p>

			<p><strong>Pilot: How to delete a flight on WXC ?</strong><br />
			You have to delete a flight on your &quot;Home Online Contest&quot;.<br />
			- If you are a German pilot, then you will delete the flight on&nbsp; http://www.dhvxc.de<br />
			- If you are a French pilot, you will delete the flight on http://cnd.favl.info/<br />
			- If you are a pilot from Poland, you will delete a flight on http://www.xcportal.pl/<br />
			... and so on.<br />
			If you need help on deleting a flight, you need to ask your National Administrator,<br />
			for your &quot;Home Online Contest&quot;.<br />
			The next nightly sync, will automatically notify the WXC (wxc.fai.org) to delete the flight.<br />
			In most cases, a flight can only be deleted by a pilot within allowed claim time, according to National Contest rules. In these cases only the National Administrator of your &quot;Home Contest&quot; can delete a flight.<br />
			In general a flight can only be deleted (or added, or modified) within same season.<br />
			After season has ended, and final results are published, there will be usual no more modifications made on the results.</p>
			
			<a id="faq15923" name="faq15923"></a>
			<p><strong>Pilot: I see now that some of my flights from previous season are not listed at WXC, what can I do ?</strong><br />
			Unfortunately when the season and protest time is over, the issue will not be investigated for old flights. Sorry.<br />
			If a flight is not synced to WXC (missing) you should ask your national Administrator first, at least within 14days after the flight.<br />
			The flight sync to WXC is running daily.<br />
			In most of the times, the missing flight on WXC side is caused by the flight is <i>locked</i> on your National Contest, and not permitted to sync to WXC. 
			This is also the reason why you need to check the issue on National Server (database) first, with your National Administrator.<br />
			Your National Administrator can re-initate the sync any time by setting the <a href="http://www.validome.org/grammar/validate/?lang=en&viewSourceCode=1&grammarTyp=DTD&url=http://wxc.fai.org/spec/wxc-flightsync.dtd" target="_new">LastTimestamp</a> accordingly, but only for a active season.</p>

			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>updated: 2016-02-24 08:51</td>
		</tr>
	</tbody>
</table>
