

<table cellspacing="0" cellpadding="0">
<tr>
<td>Software needs to be approved, for usage on various Onlinecontest systems.<br />
This makes sure, that Enduser Software is compatible to Online Scoring systems around the planet and makes sure<br />
that flight tracks cannot be manipulated afterwards. There are no rights, to get approval for every software.<br />
<br />
Any kind of listed Software or Hardware here is &quot;<strong>Subject to the approval of the National contest</strong>&quot;.<br />
CIVL Approval means here, IGC file is within spec and when a national online contest allow any kind of software or hardware below, then we simply trust what we get from connected server.<br />
Further it is important to understand that software G-record generation is not 100% secure. Practically, the software generated G-records can dissuade casual tampering but cannot prevent a technically competent attacker.<br />
<br />
Below a list of approved Software, a quasi standard since the project started in 2003 with HG/PG onlinecontest.org.<br />
<em>Hans Trautenberg, Andreas Rieck, John Stevenson<br />
</em> <br />
<table class="softlist" width="740" cellspacing="0" cellpadding="0">
    <tbody>
        <tr bgcolor="#999999">
            <td style="background-color: rgb(51, 153, 51);">
            <div align="center"><strong>#</strong></div>
            </td>
            <td style="background-color: rgb(51, 153, 51);"><strong>APPROVED SOFTWARE:</strong></td>
            <td style="background-color: rgb(51, 153, 51);"><strong>CONTACT:</strong></td>
            <td style="background-color: rgb(51, 153, 51);">
            <div align="center"><strong>Three character code</strong></div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">Windows OS</td>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff"><b>Freeware:</b></td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">
            <div align="center">&nbsp;</div>
            </td>
            <td bgcolor="#ffffff">GpsDump 4.32 and higher, Freeware </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.gethome.no/stein.sorensen/">http://www.gethome.no/stein.sorensen/</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XGD</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">MaxPunkte 6.2.2 (or higher release) Freeware<br />
            </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.maxpunkte.de/">http://www.maxpunkte.de/</a><br />
            </td>
            <td bgcolor="#ffffff">
            <div align="center">XMP</div>
            </td>
        </tr>	
        <tr>
            <td bgcolor="#ffffff">
            <div align="center">&nbsp;</div>
            </td>
            <td bgcolor="#ffffff">Trackview release 2006.1 or higher</td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.softtoys.com/e/so_prod06download.htm">http://www.softtoys.com/</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XTV</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">G7ToWin A.00.200e Freeware</td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.gpsinformation.org/ronh/">http://www.gpsinformation.org/ronh/</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XGW</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff"><b>commercial Software </b></td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">GPSVAR 5.x and higher, commercial Software</td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://home.arcor.de/GPSVAR/">http://home.arcor.de/GPSVAR/</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XGV</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">
            <div align="center">&nbsp;</div>
            </td>
            <td bgcolor="#ffffff">CompeGPS 5.7 and higher, commercial Software</td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.compegps.com/">http://www.compegps.com/</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XCG</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">SeeYou 2.82 and higher release. </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.naviter.si">http://www.naviter.si</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XSY</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">
            <div align="right">&nbsp;</div>
            </td>
            <td bgcolor="#ffffff">TNComplete 2.3.0 and higher release. </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.aircotec.com/">http://www.aircotec.com/</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XTC</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">ParaFlightBook 1.3.004 and higher release<br />
            </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.paraflightbook.de/">http://www.paraflightbook.de/</a></td>
            <td bgcolor="#ffffff" align="center">XPF</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">Logfly (Windows) <br />
            </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.alpiweb.net/logfly/">http://www.alpiweb.net/logfly/</a></td>
            <td bgcolor="#ffffff" align="center">XLF</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;<br />
            </td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff" align="center">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">PocketPC , PALM and NonGNSS Logger </td>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">GPS_LOG 1.2.1.18 and higher, Freeware </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.soaringpilotsoftware.com/">http://www.soaringpilotsoftware.com/</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XGL</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">Muzzy Logger </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.rcprojekt.com">http://www.rcprojekt.com</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XMR</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">Skytraxx Logger <br />
            </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.flugvario.de">http://www.flugvario.de</a> <br />
            </td>
            <td bgcolor="#ffffff" align="center">XSX</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">Soringpilot PALM Freeware 1.9.7 and later </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.soaringpilot.com">http://www.soaringpilot.com</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XSP</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">SeeYou Mobile 2.6 and higher </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.seeyou-mobile.si/">http://www.seeyou-mobile.si/</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XCM</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">FLARM logger </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.flarm.at">http://www.flarm.at</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XFL</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">Flytec / Br&auml;uniger Logger&nbsp; <br />
            </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.brauniger.com">http://www.brauniger.com</a> <a href="http://www.flytec.ch">http://www.flytec.ch </a><br />
            </td>
            <td bgcolor="#ffffff">
            <div align="center">BRA FLY <br />
            </div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">C-Pilot pro Logger</td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.compass-italy.com">http://www.compass-italy.com</a></td>
            <td bgcolor="#ffffff" align="center">CPP<br />
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">REVERSALE VGP2010 loggers<br />
            </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.reversale.com/">http://www.reversale.com/</a><br />
            </td>
            <td bgcolor="#ffffff">
            <div align="center">XRE<br />
            </div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">French C.F.D. contest Server based Software <br />
            </td>
            <td bgcolor="#ffffff">n/a <br />
            </td>
            <td bgcolor="#ffffff">
            <div align="center">XCF</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff" align="center">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">Apple iPhone and Mac OSX </td>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">
            <div align="center">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff"><span class="SkyLogger">SkyLogger 1.0.2 and higher (iPhone)<br />
            </span></td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.skywind.eu">http://www.skywind.eu/</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XSL<br />
            </div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">SkyKick 0.2.8.2 (MacOSX 10.4.3)<br />
            </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.skywind.eu">http://www.skywind.eu/</a> <br />
            </td>
            <td bgcolor="#ffffff">
            <div align="center">XSK</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">GPSDUMP for Mac 0.23 and higher <br />
            </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.gethome.no/stein.sorensen/">http://www.gethome.no/stein.sorensen/</a> <br />
            </td>
            <td bgcolor="#ffffff" align="center">XGD</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">Thermgeek 1.6 and higher<br />
            </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://thermgeek.xn--bhler-gra.ch/">http://thermgeek.b&auml;hler.ch/</a></td>
            <td bgcolor="#ffffff" align="center">XTG</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">Logfly (MacOS X) <br />
            </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.alpiweb.net/logfly/">http://www.alpiweb.net/logfly/</a></td>
            <td bgcolor="#ffffff" align="center">XLF</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">Symbian OS </td>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">
            <div align="center">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">AFTrack Version 1.15 or higher</td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://afischer-online.de/sos/AFTrack/index.html">http://afischer-online.de/sos/AFTrack/index.html</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XFT</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">IGCLogger for Symbian OS (T.Theussing)</td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://sites.google.com/site/pys60software/igclogger">http://sites.google.com/site/pys60software/igclogger</a></td>
            <td bgcolor="#ffffff" align="center">XPY</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff" align="center">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">Android</td>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">
            <div align="center">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">AndroFlight<br />
            </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.androflight.com/">http://www.androflight.com/</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XAF</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">Gaggle 1.65 and higher (for Android)             </td>
            <td bgcolor="#ffffff"><a target="_blank" href="https://github.com/geeksville/Gaggle">https://github.com/geeksville/Gaggle</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XGG</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff" align="center">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">Linux OS </td>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">
            <div align="center">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">GPSDUMP for Linux<br />
            </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.gethome.no/stein.sorensen/">http://www.gethome.no/stein.sorensen/</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XGD</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff" align="center">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">Java</td>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">
            <div align="center">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff" align="center">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="background-color: rgb(192, 192, 192);">&nbsp;</td>
            <td bgcolor="#ffffff" style="background-color: rgb(192, 192, 192);">Mozilla Firefox Extention</td>
            <td bgcolor="#ffffff" style="background-color: rgb(192, 192, 192);">&nbsp;</td>
            <td bgcolor="#ffffff" style="background-color: rgb(192, 192, 192);">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">Gipsy Version gipsy1.5.8.xpi and higher</td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.xcontest.org/gipsy/">http://www.xcontest.org/gipsy/</a></td>
            <td bgcolor="#ffffff" align="center">XPG</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="background-color: rgb(192, 192, 192);">&nbsp;</td>
            <td bgcolor="#ffffff" style="background-color: rgb(192, 192, 192);">Opensource</td>
            <td bgcolor="#ffffff" style="background-color: rgb(192, 192, 192);">&nbsp;</td>
            <td bgcolor="#ffffff" style="background-color: rgb(192, 192, 192);">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">XCSoar* (GPL)<br />
            </td>
            <td bgcolor="#ffffff">http://www.xcsoar.org/ <br />
            </td>
            <td bgcolor="#ffffff" align="center">XCS</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">LK8000*  (GPL)             </td>
            <td bgcolor="#ffffff">http://www.lk8000.it/ <br />
            </td>
            <td bgcolor="#ffffff" align="center">XLK</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;<br />
            </td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff" colspan="2"><br />
            * XCSoar is declared to be supported based on 1.0.2 validation, cause provided latest 6.0.5 failes<br />
            * LK8000 is declared to be supported with XCS 3letter code, until XLK will be implemented (eg. from 2012 on)</td>
            <td bgcolor="#ffffff">&nbsp;</td>
        </tr>
    </tbody>
</table>
<br />
<table class="softlist" width="740" cellspacing="0" cellpadding="0">
    <tbody>
        <tr bgcolor="#999999">
            <td style="background-color: rgb(51, 153, 51);">
            <div align="center">#</div>
            </td>
            <td style="background-color: rgb(51, 153, 51);"><strong>GNSS Loggers implemented at WXC<br />
            </strong></td>
            <td style="background-color: rgb(51, 153, 51);">CONTACT:</td>
            <td style="background-color: rgb(51, 153, 51);">
            <div align="center">Three character code</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#cccccc"><em>&nbsp;</em></td>
            <td bgcolor="#cccccc"><em>FAI GNSS Loggers do not need WXC approval, but we nee a request<br />
            for integration, to check compatibility with WXC software for batch processing.<br />
            More Info: <a href="http://www.fai.org/igc-our-sport/gnss-recording-devices" target="_blank">http://www.fai.org/igc-our-sport/gnss-recording-devices</a><br />
            </em>             </td>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">EW Avionics, EWmicroRecorder<br />
            </td>
            <td bgcolor="#ffffff">http://www.ewuk.co.uk/&nbsp; <br />
            </td>
            <td bgcolor="#ffffff" align="center">EWA</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff" align="center">&nbsp;</td>
        </tr>
    </tbody>
</table>
<br />
<table class="softlist" width="740" cellspacing="0" cellpadding="0">
    <tbody>
        <tr bgcolor="#999999">
            <td style="background-color: rgb(255, 204, 0);">
            <div align="center">#</div>
            </td>
            <td style="background-color: rgb(255, 204, 0);"><strong>under investigation ...</strong></td>
            <td style="background-color: rgb(255, 204, 0);">CONTACT:</td>
            <td style="background-color: rgb(255, 204, 0);">
            <div align="center">Three character code</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc"><em>&nbsp;...or waiting for more information or data from developer</em></td>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">FreeFlight version 2.1 and higher(iOS, eg. iPhone, iPad)<br /></td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.butterfly.aero">http://www.butterfly.aero</a><br /></td>
            <td bgcolor="#ffffff" align="center">XBA<br />
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">FlySkyHy (iOS, iPhone)<br />
            </td>
            <td bgcolor="#ffffff">http://flyskyhy.com<br />
            </td>
            <td bgcolor="#ffffff" align="center">XFH<br />
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
        </tr>
    </tbody>
</table>
<br />
<table class="softlist" width="740" cellspacing="0" cellpadding="0">
    <tbody>
        <tr bgcolor="#999999">
            <td style="background-color: rgb(51, 153, 255);">
            <div align="center">#</div>
            </td>
            <td style="background-color: rgb(51, 153, 255);"><strong>freeware / opensource&nbsp; &nbsp; <br />
            </strong></td>
            <td style="background-color: rgb(51, 153, 255);">&nbsp;no approval needs             </td>
            <td style="background-color: rgb(51, 153, 255);">
            <div align="center">comments<br />
            </div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">&nbsp;</td>
            <td bgcolor="#cccccc">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">AirTome (written in Java)<br />
            </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://airtome.bitbucket.org/">http://airtome.bitbucket.org/</a></td>
            <td bgcolor="#ffffff" align="left">FlightBook Software without GPS reading capabilities&nbsp;&nbsp; <br />
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">&nbsp;</td>
        </tr>
    </tbody>
</table>
<br />
<table class="softlist" width="740" cellspacing="0" cellpadding="0">
    <tbody>
        <tr bgcolor="#999999">
            <td>
            <div align="center">#</div>
            </td>
            <td><strong>not used / disabled <br />
            </strong></td>
            <td>&nbsp;<br />
            </td>
            <td>
            <div align="center">Three character code</div>
            </td>
        </tr>
        <tr>
            <td colspan="4" bgcolor="#cccccc" style="background-color: rgb(255, 255, 255);">
	    <font color="#808080"><em>This section contains a list of Software or concepts which are not mainly used, or not longer used by the pilots. 
            <br> For informational reason it is still good to list them.<br />
	    </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">twpayne IGC g-record signing proof of concept <br /></td>
            <td bgcolor="#ffffff"><a target="_blank" href="https://github.com/twpayne">github</a></td>
            <td bgcolor="#ffffff" align="center">XTP</td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">Pocket Strepla 3.0 or higher </td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://www.strepla.de/">http://www.strepla.de/</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XST</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">JFlight project (JAVA Freeware at sorceforge.net)</td>
            <td bgcolor="#ffffff"><a target="_blank" href="http://jflight.sourceforge.net/">http://jflight.sourceforge.net/</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XJF</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">TNView <br />
            </td>
            <td bgcolor="#ffffff"><a target="_blank" href="www.rockservice.de/utz/tnview/enhome.htm">www.rockservice.de/utz/tnview/enhome.htm</a></td>
            <td bgcolor="#ffffff">
            <div align="center">XTN</div>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">&nbsp;</td>
            <td bgcolor="#ffffff">Flightrecorder<br />
            </td>
            <td bgcolor="#ffffff"><a target="_blank" href="https://github.com/twpayne/flightrecorder">https://github.com/twpayne/flightrecorder </a><br />
            </td>
            <td bgcolor="#ffffff" align="left">reads: <br />
            Flytec,Compe,Competino,Flymaster<br />
            </td>
        </tr>
        <tr>
            <td bgcolor="#cccccc" style="background-color: rgb(255, 255, 255);">&nbsp;</td>
            <td bgcolor="#cccccc" style="background-color: rgb(255, 255, 255);"><br />
            </td>
            <td bgcolor="#cccccc" style="background-color: rgb(255, 255, 255);"><br />
            </td>
            <td bgcolor="#cccccc" style="background-color: rgb(255, 255, 255);">&nbsp;</td>
        </tr>
    </tbody>
</table>
<br />
<strong><br />
Howto get my Software to this list ?</strong><br />
Simple sent your software, sample IGC files and vali.exe (win32 commandline executable preferred) to us.<br />
In some situations the hardware is required as well.<br />
A unique 3letter code is assigned to each software (ARecord).<br />
<br />
<strong>Why some Software is not at this list or is disabled ?</strong><br />
Maybe due to missing contact to the developer, or if seen that a Software is not longer used by the pilots over years or other circumstances, or it is out of scope from the developer point of view to be on this list ...<br />
<br />
<strong>Some comments on Open source</strong>.<br />
If you consider to generate open source project, think about the type of open source license before publishing.<br />
GPL might not be the best choice as it disallow your code to be included within other nice projects when they are not licensed the same way.<br />
There are many other valid open source licenses which allow mixed licensing, even closed source parts.<br />
National contests might easy able disallow your GPL software. In result pilots flight is not scored at WXC as well.</td>
</tr>
<tr><td>&nbsp;</td></tr>
<tr><td style="border: 1px solid #777777;" >2011-04-16 12:58</td></tr>
</table>

