<table cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<p>Software needs to be approved, for usage on various Onlinecontest systems.<br />
			This makes sure, that Enduser Software is compatible to Online Scoring systems around the planet and makes sure that flight tracks cannot be manipulated afterwards. The CIVL Approval means here, an IGC file is within the specification. There are no rights, to get approval for every software.<br />
			<br />
			Any kind of listed Software or Hardware here is &quot;<strong>Subject to the approval of the National contest</strong>&quot;.<br />
			Also, in terms of centralized Cat-1 or Cat-2 events, any kind of listed Software here is &quot;subject to local event rules&quot;. There exist no rights to complain against National XC Contests or Local Event Rules, based on this Software list.<br />
			Further it is important to understand that software G-record generation is not 100% secure. Practically, the software generated G-records can dissuade casual tampering but cannot prevent a technically competent attacker.<br />
			<br />
			Below a list of approved Software, a quasi standard since the project started in 2003 with HG/PG onlinecontest.org.<br />
			<em>Hans Trautenberg, Andreas Rieck, John Stevenson</em><br />
			&nbsp;</p>

			<table cellpadding="0" cellspacing="0" class="softlist" style="width:740px">
				<tbody>
					<tr>
						<td style="background-color:rgb(51, 153, 51)">
						<div><strong>#</strong></div>
						</td>
						<td style="background-color:rgb(51, 153, 51)"><strong>APPROVED SOFTWARE:</strong></td>
						<td style="background-color:rgb(51, 153, 51)"><strong>CONTACT:</strong></td>
						<td style="background-color:rgb(51, 153, 51)">
						<div style="text-align: center;"><strong>Three character code</strong></div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><strong>Windows OS Freeware</strong></td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td>
						<div>&nbsp;</div>
						</td>
						<td>GpsDump 4.32 and higher, Freeware</td>
						<td><a href="http://www.gpsdump.no/" target="_blank">http://www.gpsdump.no/</a></td>
						<td>
						<div style="text-align: center;">XGD</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>MaxPunkte 6.2.2 (or higher release) Freeware</td>
						<td><a href="http://www.maxpunkte.de/" target="_blank">http://www.maxpunkte.de/</a></td>
						<td>
						<div style="text-align: center;">XMP</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><strong>Windows OS commercial Software </strong></td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td>
						<div>&nbsp;</div>
						</td>
						<td>CompeGPS 5.7 and higher, commercial Software</td>
						<td><a href="http://www.compegps.com/" target="_blank">http://www.compegps.com/</a></td>
						<td>
						<div style="text-align: center;">XCG</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>GPSVAR 5.x and higher, commercial Software</td>
						<td><a href="http://home.arcor.de/GPSVAR/" target="_blank">http://home.arcor.de/GPSVAR/</a><br>disabled, not longer used by pilots on wxc for several years</td>
						<td>
						<div style="text-align: center;">XGV</div>
						</td>
					</tr>					
					<tr>
						<td>&nbsp;</td>
						<td>SeeYou 2.82 and higher release.</td>
						<td><a href="http://www.naviter.si" target="_blank">http://www.naviter.si</a></td>
						<td>
						<div style="text-align: center;">XSY</div>
						</td>
					</tr>
					<tr>
						<td>
						<div>&nbsp;</div>
						</td>
						<td>TNComplete 2.3.0 and higher release.</td>
						<td><a href="http://www.aircotec.com/" target="_blank">http://www.aircotec.com/</a></td>
						<td>
						<div style="text-align: center;">XTC</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>ParaFlightBook 1.3.004 and higher release</td>
						<td><a href="http://www.paraflightbook.de/" target="_blank">http://www.paraflightbook.de/</a></td>
						<td style="text-align:center">XPF</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Logfly (Windows)</td>
						<td><a href="http://www.logfly.org" target="_blank">http://www.logfly.org</a></td>
						<td style="text-align:center">XLF</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><strong>PocketPC,PALM,NonGNSS-Logger,<br />
						and other Software</strong></td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Skytraxx Logger</td>
						<td><a href="http://www.flugvario.de" target="_blank">http://www.flugvario.de</a></td>
						<td style="text-align:center">XSX</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>any Oudie Logger</td>
						<td><a href="http://www.naviter.com" target="_blank">http://www.naviter.com</a></td>
						<td style="text-align:center">XCM</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>SeeYou Mobile Software 2.6 or higher</td>
						<td><a href="http://www.naviter.com" target="_blank">http://www.naviter.com</a></td>
						<td>
						<div style="text-align: center;">XCM</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>MaxLogger</td>
						<td><a href="http://www.maxpunkte.de" target="_blank">http://www.maxpunkte.de</a></td>
						<td>
						<div style="text-align: center;">MUN</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Flytec / Br&auml;uniger Logger&nbsp;</td>
						<td><a href="http://www.brauniger.com" target="_blank">http://www.brauniger.com</a> <a href="http://www.flytec.ch">http://www.flytec.ch </a></td>
						<td>
						<div style="text-align: center;">BRA FLY</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>C-Pilot pro Logger</td>
						<td><a href="http://www.compass-italy.com" target="_blank">http://www.compass-italy.com</a></td>
						<td style="text-align:center">CPP</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>REVERSALE VGP2010 loggers</td>
						<td><a href="http://www.reversale.com/" target="_blank">http://www.reversale.com/</a></td>
						<td>
						<div style="text-align: center;">XRE</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>French C.F.D. contest Server based Software</td>
						<td>n/a</td>
						<td>
						<div style="text-align: center;">XCF</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Digifly Instruments</td>
						<td><a href="http://www.digifly.com" target="_blank">http://www.digifly.com</a></td>
						<td style="text-align:center">XDG</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>SensBox</td>
						<td><a href="http://www.brauniger.com" target="_blank">http://www.brauniger.com</a> <a href="http://www.flytec.ch">http://www.flytec.ch </a></td>
						<td style="text-align:center">XFY</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Flymaster Live</td>
						<td><a href="http://www.flymaster-avionics.com/" target="_blank">http://www.flymaster-avionics.com/</a></td>
						<td style="text-align:center">XFM</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Syride SysPCTools for Sys&#39;KY and SYS&#39;GPS</td>
						<td><a href="http://http://paragliding.syride.com/produits.php" target="_blank">Syride products</a></td>
						<td style="text-align:center">XSR</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>XCOpen Livetrack Server</td>
						<td><a href="http://www.xcopen.org">http://www.xcopen.org</a></td>
						<td style="text-align:center">XCO</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Leonardo Livetrack24</td>
						<td><a href="http://www.livetrack24.com/" target="_blank">http://www.livetrack24.com/</a></td>
						<td style="text-align:center">XLL</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>DHV Livetracking Server</td>
						<td><a href="http://livexc.dhv.de/">http://livexc.dhv.de/</a></td>
						<td style="text-align:center">XLD</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>FlyNet XC vario</td>
						<td><a href="http://www.flynet-vario.com" target="_blank">http://www.flynet-vario.com</a></td>
						<td style="text-align:center">XFX</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Ascent Vario</td>
						<td><a href="http://www.ascentvario.com" target="_blank">http://www.ascentvario.com</a></td>
						<td style="text-align:center">XAH</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>SeriFly logger</td>
						<td><a href="http://www.xrizo.com/serifly.htm" target="_blank">http://www.xrizo.com/serifly.htm</a></td>
						<td style="text-align:center">XSF</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>XCTracer logger</td>
						<td><a href="https://www.xctracer.com" target="_blank">https://www.xctracer.com</a></td>
						<td style="text-align:center">XTR</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>SkyBean vario</td>
						<td><a href="http://skybean.eu/" target="_blank">http://skybean.eu/</a></td>
						<td style="text-align:center">XSB</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>leGPSBip Logger</td>
						<td><a href="http://www.lebipbip.com/legpsbip-solar-vocal-gps-alti-vario/" target="_blank">http://www.lebipbip.com/</a></td>
						<td style="text-align:center">XSD</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>GoFly Instrument Logger</td>
						<td><a href="http://goflyinstruments.com" target="_blank">http://goflyinstruments.com</a></td>
						<td style="text-align:center">XGF</td>
					</tr>					
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><strong>Apple iPhone and Mac OSX</strong></td>
						<td>&nbsp;</td>
						<td>
						<div style="text-align: center;">&nbsp;</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>SkyLogger 1.0.2 and higher (iPhone)</td>
						<td><a href="http://www.skywind.eu" target="_blank">http://www.skywind.eu/</a></td>
						<td>
						<div style="text-align: center;">XSL</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>SkyKick 0.2.8.2 (MacOSX 10.4.3)</td>
						<td><a href="http://www.skywind.eu" target="_blank">http://www.skywind.eu/</a></td>
						<td>
						<div style="text-align: center;">XSK</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>GPSDUMP for Mac 0.23 and higher</td>
						<td><a href="http://www.gpsdump.no/" target="_blank">http://www.gpsdump.no/</a></td>
						<td style="text-align:center">XGD</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Thermgeek 1.6 and higher</td>
						<td><a href="http://thermgeek.xn--bhler-gra.ch/" target="_blank">http://thermgeek.b&auml;hler.ch/</a></td>
						<td style="text-align:center">XTG</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>FlySkyhy Paragliding App</td>
						<td><a href="http://flyskyhy.com/" target="_blank">http://flyskyhy.com/</a></td>
						<td style="text-align:center">XFH</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>FreeFlight version 2.1 and higher</td>
						<td><a href="http://www.butterfly.aero" target="_blank">http://www.butterfly.aero</a></td>
						<td style="text-align:center">XBA</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>SeeYou Recorder for iOS</td>
						<td><a href="http://www.naviter.com/products/seeyou-recorder/" target="_blank">http://www.naviter.com/</a></td>
						<td style="text-align:center">XCM</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>ASI FlyNet2 app</td>
						<td><a href="http://www.asinstrument.ch/pages/flynet2-vario" target="_blank">http://www.asinstrument.ch</a></td>
						<td style="text-align:center">XFN</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Logfly (MacOSX)</td>
						<td><a href="http://www.logfly.org" target="_blank">http://www.logfly.org</a></td>
						<td style="text-align:center">XLF</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>RogalloFlightlog 1.1.0+ (MacOSX)</td>
						<td><a href="http://www.coldx.net/RogalloFlightLog/" target="_blank">http://www.coldx.net/RogalloFlightLog/</a></td>
						<td style="text-align:center">XRF</td>
					</tr>					
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><strong>Symbian OS</strong></td>
						<td>&nbsp;</td>
						<td>
						<div style="text-align: center;">&nbsp;</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>AFTrack Version 1.15 or higher</td>
						<td><a href="http://afischer-online.de/sos/AFTrack/index.html" target="_blank">http://afischer-online.de/sos/AFTrack/index.html</a></td>
						<td>
						<div style="text-align: center;">XFT</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>IGCLogger for Symbian OS (T.Theussing)</td>
						<td><a href="http://sites.google.com/site/pys60software/igclogger" target="_blank">http://sites.google.com/site/pys60software/igclogger</a></td>
						<td style="text-align:center">XPY</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><strong>Android</strong></td>
						<td>&nbsp;</td>
						<td>
						<div style="text-align: center;">&nbsp;</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>GPSDUMP for Android<br />
						<span style="font-size:9px">(requires Android 4.03 and up)</span></td>
						<td><a href="https://play.google.com/store/apps/details?id=com.stein.sorensen&amp;hl=en" target="_blank">Google Play Market</a></td>
						<td style="text-align:center">XGD</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>AndroFlight</td>
						<td><a href="http://www.androflight.com/" target="_blank">http://www.androflight.com/</a></td>
						<td>
						<div style="text-align: center;">XAF</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Gaggle 1.65 and higher (for Android)</td>
						<td><a href="https://github.com/geeksville/Gaggle" target="_blank">https://github.com/geeksville/Gaggle</a></td>
						<td>
						<div style="text-align: center;">XGG</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>XCTrack 0.4 and higher</td>
						<td><a href="http://xctrack.org/" target="_blank">http://xctrack.org/</a></td>
						<td style="text-align:center">XCT</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>XCSoar (GPL)</td>
						<td><a href="http://www.xcsoar.org/" target="_blank">http://www.xcsoar.org/</a></td>
						<td style="text-align:center">XCS</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>SeeYou Recorder for Android</td>
						<td><a href="http://www.naviter.com/products/seeyou-recorder/" target="_blank">http://www.naviter.com/</a></td>
						<td style="text-align:center">XCM</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>ASI FlyNet2 app</td>
						<td><a href="http://www.asinstrument.ch/pages/flynet2-vario" target="_blank">http://www.asinstrument.ch</a></td>
						<td style="text-align:center">XFN</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>FlyMe v0.973 and higher</td>
						<td><a href="http://xcglobe.com/flyme/" target="_blank">http://xcglobe.com/flyme/</a></td>
						<td style="text-align:center">XFL</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Variometer-Sky Land Tracker</td>
						<td><a href="https://play.google.com/store/apps/details?id=com.jonathanVARIOMETER&amp;feature=search_result">Google Play</a></td>
						<td style="text-align:center">XKR</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Flight GpsLogger</td>
						<td><a href="https://play.google.com/store/apps/details?id=net.kataplop.gpslogger&amp;hl=en" target="_blank">Google Play</a></td>
						<td style="text-align:center">XGP</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>TTLiveTrack24</td>
						<td><a href="https://play.google.com/store/apps/details?id=com.tony.ttlivetrack24v2">Google Play</a></td>
						<td style="text-align:center">XTT</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>AltAir</td>
						<td><a href="http://altair.no-ip.org/">http://altair.no-ip.org/</a></td>
						<td style="text-align:center">XAA</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Avionicus</td>
						<td><a href="https://play.google.com/store/apps/details?id=com.avionicus">http://play.coogle.com/</a></td>
						<td style="text-align:center">XAV</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>MyCloudbase Tracker</td>
						<td><a href="http://mycloudbase.com/tracker/">http://mycloudbase.com/tracker/</a></td>
						<td style="text-align:center">XMT</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Loctome Android App</td>
						<td><a href="https://loctome.com/">https://loctome.com/</a></td>
						<td style="text-align:center">XLM</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><strong>Linux OS</strong></td>
						<td>&nbsp;</td>
						<td>
						<div style="text-align: center;">&nbsp;</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>GPSDUMP for Linux</td>
						<td><a href="http://www.gpsdump.no/" target="_blank">http://www.gpsdump.no/</a></td>
						<td>
						<div style="text-align: center;">XGD</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>XCSoar (GPL)</td>
						<td><a href="http://www.xcsoar.org/" target="_blank">http://www.xcsoar.org/</a></td>
						<td style="text-align:center">XCS</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><strong>Windows CE, Win Mobile, PPC2003</strong></td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>LK8000 4.0 (GPL)</td>
						<td><a href="http://www.lk8000.it/">http://www.lk8000.it/</a><br />
						<em>Note</em>: requires&nbsp;<span style="color:#8B4513">IGC LOG PLUG-IN</span> <a href="http://www.lk8000.it/download/software.html">plugin</a> installed</td>
						<td style="text-align:center">XLK</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>XCSoar (GPL)</td>
						<td><a href="http://www.xcsoar.org/" target="_blank">http://www.xcsoar.org/</a></td>
						<td style="text-align:center">XCS</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><strong>Mozilla Firefox Extension</strong></td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Gipsy Version gipsy1.5.8.xpi and higher</td>
						<td><a href="http://www.xcontest.org/gipsy/" target="_blank">http://www.xcontest.org/gipsy/</a></td>
						<td style="text-align:center">XPG</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="4">
There are three IGC-approval levels for Flight Recorders (see Annex B to the Sporting Code for Gliding (SC3B), para 4.1.1.  Briefly these are (1) All Flights (including World Records); (2) All IGC Badge and Distance Diploma Flights (excluding Records); and (3) Badge flights up to and including Diamonds.
If a non-GNSS Hardware FlightRecorder implement one of these levels without official IGC approval, we publish it here as *1) or *2) or *3), together with the Three character code.
						</td>
					</tr>
				</tbody>
			</table>
			&nbsp;

			<table cellpadding="0" cellspacing="0" class="softlist" style="width:740px">
				<tbody>
					<tr>
						<td style="background-color:rgb(51, 153, 51)">
						<div>#</div>
						</td>
						<td style="background-color:rgb(51, 153, 51)"><strong>GNSS FR Loggers or PR&#39;s implemented at WXC</strong></td>
						<td style="background-color:rgb(51, 153, 51)">CONTACT:</td>
						<td style="background-color:rgb(51, 153, 51)">
						<div>Three character code</div>
						</td>
					</tr>
					<tr>
						<td><em>&nbsp;</em></td>
						<td><em>FAI GNSS Loggers do not need WXC approval.<br />
						But we nee a request for integration, to check<br />
						compatibility with WXC software for batch<br />
						processing. (More <a href="http://www.fai.org/igc-our-sport/gnss-recording-devices" target="_blank">Info</a>).</em></td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp; </td>
						<td>Logstream *</td>
						<td>http://www.logstream.eu/</td>
						<td style="text-align:center">LGS</td>
					</tr>
					<tr>
						<td>&nbsp; </td>
						<td>PRESSFINISH *</td>
						<td>http://www.pressfinish.de/</td>
						<td style="text-align:center">PFE</td>
					</tr>
					<tr>
						<td>&nbsp; </td>
						<td>NANO3 *</td>
						<td>http://www.lxnav.com/products/nano3.html</td>
						<td style="text-align:center">LXV</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>EW Avionics, EWmicroRecorder *</td>
						<td>http://www.ewuk.co.uk</td>
						<td style="text-align:center">EWA</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Flarm *</td>
						<td>http://www.flarm.com</td>
						<td style="text-align:center">FLA</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Erixx Logger (IMI Gliding) *</td>
						<td>http://www.imi-gliding.com</td>
						<td style="text-align:center">IMI</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>flyWithCE FR300** and LogBook 4.84 and higher</td>
						<td>http://www.flywithce.com</td>
						<td style="text-align:center">XFW</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><span style="font-size:9px">* FR = <a href="http://www.fai.org/gnss-recording-devices/igc-approved-flight-recorders" target="_blank">Flight Recorder</a></span><br />
						<span style="font-size:9px">** PR = <a href="http://www.fai.org/gnss-recording-devices/position-recorders" target="_blank">Position Recorder</a></span></td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			&nbsp;

			<table cellpadding="0" cellspacing="0" class="softlist" style="width:740px">
				<tbody>
					<tr>
						<td style="background-color:rgb(255, 204, 0)">
						<div>#</div>
						</td>
						<td style="background-color:rgb(255, 204, 0)"><strong>under investigation ...</strong></td>
						<td style="background-color:rgb(255, 204, 0)">CONTACT:</td>
						<td style="background-color:rgb(255, 204, 0)">
						<div>Three character code</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td style="text-align:center">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			&nbsp;

			<table cellpadding="0" cellspacing="0" class="softlist" style="width:740px">
				<tbody>
					<tr>
						<td style="background-color:rgb(51, 153, 255)">
						<div>#</div>
						</td>
						<td style="background-color:rgb(51, 153, 255)"><strong>freeware / opensource&nbsp; &nbsp; </strong></td>
						<td style="background-color:rgb(51, 153, 255)">&nbsp;no approval needs</td>
						<td style="background-color:rgb(51, 153, 255)">
						<div>comments</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>AirTome<br />
						(written in Java)</td>
						<td><a href="http://airtome.bitbucket.org/" target="_blank">http://airtome.bitbucket.org/</a></td>
						<td>FlightBook Software for any platform like Windows, Linux, MacOS, without GPS reading capabilities&nbsp;&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>

			<p>&nbsp;</p>

			<p>&nbsp;</p>

			<table cellpadding="0" cellspacing="0" class="softlist" style="width:740px">
				<tbody>
					<tr>
						<td style="background-color:rgb(250, 104, 0)">
						<div>#</div>
						</td>
						<td style="background-color:rgb(250, 104, 0)"><strong>not used or disabled </strong></td>
						<td style="background-color:rgb(250, 104, 0)">&nbsp;</td>
						<td style="background-color:rgb(250, 104, 0)">
						<div>Three character code</div>
						</td>
					</tr>
					<tr>
						<td colspan="4" style="background-color:rgb(255, 255, 255)"><em>This section contains a list of Software or concepts which are not mainly used, or not longer used by the pilots.<br />
						For informational reason it is still good to list them.</em></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>twpayne IGC g-record signing proof of concept</td>
						<td><a href="https://github.com/twpayne" target="_blank">github</a></td>
						<td><div style="text-align: center;">XTP</div></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Pocket Strepla 3.0 or higher</td>
						<td><a href="http://www.strepla.de/" target="_blank">http://www.strepla.de/</a></td>
						<td>
						<div style="text-align: center;">XST</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>JFlight project (JAVA Freeware at sorceforge.net)</td>
						<td><a href="http://jflight.sourceforge.net/" target="_blank">http://jflight.sourceforge.net/</a></td>
						<td>
						<div style="text-align: center;">XJF</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>TNView</td>
						<td><a href="www.rockservice.de/utz/tnview/enhome.htm" target="_blank">www.rockservice.de/utz/tnview/enhome.htm</a></td>
						<td>
						<div style="text-align: center;">XTN</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Flightrecorder</td>
						<td><a href="https://github.com/twpayne/flightrecorder" target="_blank">https://github.com/twpayne/flightrecorder </a></td>
						<td>reads:<br />
						Flytec,Compe,Competino,Flymaster</td>
					</tr>
					<tr>
						<td style="background-color:rgb(255, 255, 255)">&nbsp;</td>
						<td style="background-color:rgb(255, 255, 255)">Sky Traq Venus 6 GPS Module</td>
						<td style="background-color:rgb(255, 255, 255)">http://soaring.pantzer.net</td>
						<td style="background-color:rgb(255, 255, 255)">
						<div style="text-align: center;">XSQ</div>
						</td>
					</tr>
					<tr>
						<td style="background-color:rgb(255, 255, 255)">&nbsp;</td>
						<td style="background-color:rgb(255, 255, 255)">MacAirTime</td>
						<td style="background-color:rgb(255, 255, 255)"><a href="http://www.macairtime.com/" target="_blank">http://www.macairtime.com/beta/board/index.php</a></td>
						<td style="background-color:rgb(255, 255, 255)">
						<div style="text-align: center;">XMA</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>G7ToWin A.00.200e Freeware</td>
						<td><a href="http://www.gpsinformation.org/ronh/" target="_blank">http://www.gpsinformation.org/ronh/</a><br>disabled/abandoned by developer</td>
						<td>
						<div style="text-align: center;">XGW</div>
						</td>
					</tr>					
					<tr>
						<td>&nbsp;</td>
						<td>GPS_LOG 1.2.1.18 and higher, Freeware</td>
						<td><a href="http://www.soaringpilotsoftware.com/" target="_blank">http://www.soaringpilotsoftware.com/</a><br>disabled, not longer used by pilots on wxc for several years</td>
						<td>
						<div style="text-align: center;">XGL</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Muzzy Logger</td>
						<td><a href="http://www.rcprojekt.com" target="_blank">http://www.rcprojekt.com</a><br>disabled, not longer used by pilots on wxc for several years</td>
						<td>
						<div style="text-align: center;">XMR</div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Soringpilot PALM Freeware 1.9.7 and later</td>
						<td><a href="http://www.soaringpilot.com" target="_blank">http://www.soaringpilot.com</a><br>disabled, not longer used by pilots on wxc for several years</td>
						<td>
						<div style="text-align: center;">XSP</div>
						</td>
					</tr>
					<tr>
						<td>
						<div>&nbsp;</div>
						</td>
						<td>Trackview release 2006.1 or higher</td>
						<td><a href="http://www.softtoys.com/e/so_prod06download.htm" target="_blank">http://www.softtoys.com/</a><br>disabled, not longer used by pilots on wxc for several years</td>
						<td>
						<div style="text-align: center;">XTV</div>
						</td>
					</tr>

					
					
				</tbody>
			</table>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>2017-02-28 21:30 GMT</td>
		</tr>
	</tbody>
</table>
